/*
    Document   : espresso_registration_forms_admin
    Created on : 29-Jan-2013, 10:30:18 AM
    Author     : mnelson4
    Description:
        Purpose of the stylesheet follows.
*/
#question_options .sample{ display:none; }

.question-groups #the-list { cursor: move; }

.questions .column-id { width:5%; }
.questions .column-order,
.questions .column-required,
.questions .column-admin_only,
.questions .column-ajax_sort_handle { width:5%; text-align: center; }
.questions .column-type { width:7.5%; text-align: center; }
.questions .column-display_text { width:20%; }
.questions .column-admin_label { width:22.5%; }


.questiongroups .column-id { width:5%; }
.questiongroups .column-order,
.questiongroups .column-ajax_sort_handle { width:5%; text-align: center; }
.questiongroups .column-name { width:20%; }
.questiongroups .column-show_group_name,
.questiongroups .column-show_group_desc {
	width: 15%;
}

.question-group-questions-container { display:inline-block; width: 30%; }
.ee-question-sortable { cursor: move;}
.ee-question-sortable label { cursor: inherit;}

.question-group-questions-container {
    background: white;
    border: 1px solid #e5e5e5;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.04);
    box-shadow: 0 1px 1px rgba(0,0,0,.04);
    margin-top: 1em;
}
.question-group-questions-container.closed .handlediv:before {
    content: '\f140';
}
.question-group-questions-container .handlediv:before {
    content: '\f142';
    right: 12px;
    font: 400 20px/1 dashicons;
    speak: none;
    display: inline-block;
    padding: 8px 10px;
    top: 0;
    position: relative;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-decoration: none!important;
}
.question-group-questions-container .handle {
    border-bottom: 1px solid #eee;
    padding: 6px 8px !important;
    margin: 0 !important;
}
.question-group-questions.inside {
    padding: 0 !important;
    margin: 0 !important;
}
.question-group-questions.inside .padding {
    padding: 0 10px;
}
.question-group-questions .description {
    color: #777;
    font-style: normal;
}
.question-group-questions .question-list-sortable {
    padding-left: 0;
}
.ee-question-sortable {
    position: relative;
    background: #fafafa;
    color: #222;
    border: 1px solid #e5e5e5;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.04);
    box-shadow: 0 1px 1px rgba(0,0,0,.04);
    padding: 5px 5px 5px 35px;
    margin-bottom: 10px;
}
.ee-question-sortable:hover {
    border-color: #444;
}
.ee-question-sortable .question-text h1,
.ee-question-sortable .question-text h2,
.ee-question-sortable .question-text h3,
.ee-question-sortable .question-text h4,
.ee-question-sortable .question-text h5,
.ee-question-sortable .question-text p {
    padding: 0 !important;
    margin: 0 !important;
    border: 0 !important;
}
.ee-question-sortable input {
    position: absolute;
    top: 13px;
    left: 10px;
}

#update_question_group_event_form textarea {
    width: 25em !important;
}

#update_question_group_event_form #post-body-content > div, #insert_question_group_event_form #post-body-content > div {
    max-width: 48.5%;
    width: auto;
    float: left;
    clear: none;
}

#update_question_group_event_form #post-body-content > div:last-child, #insert_question_group_event_form #post-body-content > div:last-child {
    float: right;
}

table.question-options-table td, table.question-options-table th{
	padding:1em 10px 0 3px; line-height: 1em;
}

table.question-options-table{
	width: 100%;
}

table.question-options-table .regular-text {
	width: 100%;
}

table.question-options-table td:first-child, table.question-options-table td:nth-child(2) {
	width: 45%;
}

table.question-options-table td:last-child {
	width: 10%;
}

@media screen and (max-width:782px) {
    .ee-question-sortable {
        padding-left: 40px;
    }
    #update_question_group_event_form textarea {
        width: 100% !important;
    }
}
@media screen and (max-width:1400px) {
    #post-body-content > div {
        max-width: 100% !important;
        width: 100% !important;
        clear: both !important;
        float: none !important;
    }
}




#ee-reg-form-editor-form-main-meta-box {
	padding: 1em 0 0;
}

#ee-reg-form-editor-form-inputs-wrapper-dv {
	padding: 1em 2em;
}

.ee-reg-form-editor-form-new-input-hdr {
	color: #f8f8f8;
	font-size: 2em !important;
	font-weight: bold !important;
	line-height: 2em !important;
	margin: 0 !important;
	padding: 0 !important;
	vertical-align: middle !important;
}

.ee-reg-form-editor-form-new-input-dv {
	border: 1px dashed #ccc;
	border-radius: 5px;
	margin: 0 0 2em;
	min-height: 42px;
	padding: .5em 0 !important;
	text-align: center;
	width: 100%;
}

.ee-reg-form-editor-form-input-li {
	display: inline-block;
	margin-right: 1%;
	width: 48%;
}

.ee-reg-form-editor-form-layout,
.ee-reg-form-editor-form-input {
	color: #222 !important;
	font-size: 11px !important;
	padding: 0 0 1px !important;
	text-align: center;
	width: 122px;
}

.ee-droppable-active {
	border: 1px dashed #70CC50 !important;
}
.ui-draggable-dragging {
	border: 1px dashed #70CC50 !important;
	box-shadow: 0 5px 5px rgba( 0, 0, 0, .25 ) !important;
	cursor: move !important;
}

.ee-reg-form-editor-form-new-input-form {
	margin: 1em 0;
	padding: 0 1em 1em !important;
	/*position: relative;*/
}
.ee-reg-form-editor-form-new-input-form.hover {
	border: 1px solid #ddd !important;
}

.ee-new-form-input-dv label {
	display: block;
	margin: 0 0 .25em;
}
.ee-new-form-input-dv .ee-checkbox-label-after {
	margin: 1em 0 0;
}
.ee-new-form-input-dv .ee-radio-label-after {
	margin: 1em 0 0;
}
.ee-asterisk {
	color: #E76700;
	margin: 0 .5em;
}

.ee-new-form-input-dv select,
.ee-new-form-input-dv textarea,
.ee-new-form-input-dv input[type="text"],
.ee-new-form-input-dv input[type="email"],
.ee-new-form-input-dv input[type="password"],
.ee-new-form-input-settings-dv select,
.ee-new-form-input-settings-dv textarea,
.ee-new-form-input-settings-dv input[type="text"],
.ee-new-form-input-settings-dv input[type="email"],
.ee-new-form-input-settings-dv input[type="password"] {
	border: 1px solid #ddd !important;
	border-radius: 2px !important;
	box-shadow: none !important;
	min-width: 50%;
	max-width: 75%;
}

.ee-reg-form-editor-active-form-inputs-li + .ee-reg-form-editor-active-form-inputs-li {
	margin-top: 4em;
}

.ee-reg-form-editor-active-form-inputs-li + .ee-droppable-active {
	margin-top: 4em;
}

.ee-droppable-active + .ee-reg-form-editor-active-form-inputs-li {
	margin-top: 4em;
}

.ee-reg-form-editor-active-form-inputs-controls-dv {
	float: right;
	text-align: right;
}
.ee-reg-form-editor-active-form-inputs-controls-dv span {
	/*border: 1px solid #ccc !important;*/
	/*border-radius: 2px;*/
	font-size: 16px;
	line-height: 24px;
	height: 24px;
	margin: 0 0 0 12px;
	text-align: center;
	vertical-align:middle;
	width: 24px;
}
.ee-reg-form-editor-active-form-inputs-controls-dv .ee-form-input-control-config,
.ee-reg-form-editor-active-form-inputs-controls-dv .ee-form-input-control-delete {
	cursor: pointer;
}
.ee-reg-form-editor-active-form-inputs-controls-dv .ee-form-input-control-sort {
	cursor: move;
}

.ee-form-input-control-sort.dashicons-arrow-up-alt2 {
	margin-left: -24px;
	position: relative;
	right:-36px;
	top: -6px;
}
.ee-form-input-control-sort.dashicons-arrow-down-alt2 {
	position: relative;
	top:3px;

}

.ee-new-form-input-settings-dv {
	display: none;
	margin: 2em 0 0;
	position: relative;
}

.ee-reg-form-input-settings-tab-ul li {
	list-style: none;
	margin: 0 !important;
}

.ee-reg-form-input-settings-tab-li {
	background: #f8f8f8;
	border: 1px solid #ddd;
	/*border-bottom: none !important;*/
	border-top-left-radius: 2px;
	border-top-right-radius: 2px;
	bottom: -1px;
	box-shadow: none !important;
	color: #787878 ;
	cursor: pointer;
	display: block;
	float: left;
	font-size: 14px;
	height: 24px;
	line-height: 24px;
	margin: 0 6px 0 0 !important;
	padding: 12px 24px;
	position: relative;
	text-align: center;
	text-decoration: none;
	white-space: nowrap;
	z-index: 10;
}
.ee-reg-form-input-settings-tab-li:hover {
	color: #333;
	border-top: 1px solid #ccc !important;
	border-left: 1px solid #ccc !important;
	border-right: 1px solid #ccc !important;
}
.ee-reg-form-input-settings-tab-li.ee-reg-form-input-settings-tab-active {
	background: #fff;
	border-bottom: 1px solid #fff !important;
	color: #333;
	z-index: 30;
}

.ee-reg-form-input-settings-tab-panel-dv {
	background-color: #fff;
	border: 1px solid #ddd;
	/*border-bottom: 1px solid #eee;*/
	/*border-left: 1px solid #eee;*/
	/*border-right: 1px solid #eee;*/
	box-sizing: border-box;
	clear: both;
	display: none;
	padding: 1em 1em 1em 2em;
	position: relative;
	top: 0;
	z-index: 20;
}
#ee-reg-form-input-settings-tab-panel-1 {
	display: block;
}